html {
    font-size: 100%;
    font-family: "Vazir";
  }
  
  /*.contianer {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  */
  .form {
    margin-top: 2rem;
  }
  
  .form .form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
    margin-bottom: 1rem;
  }
  
  .form label {
    font-weight: bold;
  }
  
  .form label,
  .form input {
    display: block;
    margin-bottom: .7rem;
  }
  
  .form input.form-control {
    width: 100%;
    font-family: inherit;
    padding: .6rem .6rem;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.3);
  }
  button{
    margin-bottom: 2rem;
  }









  .contianer{
    width: 200px;
    height: 200px;
   
  }
  .cube{
    position: relative;
    perspective: 600px;
    margin-right: 150px;
    
    /* transform: rotateX(626deg);
    transform-style: preserve-3d; */
    width: 100%;
    height: 100%;
    animation: runcube 5s ease-in 1s infinite alternate;
   
    
  }
  .cube__face{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position:absolute;
  }

  .cube__face--front{background: rgba(255, 0,0,.7);}
  .cube__face--back{background: rgba(239, 120, 200, .7);}
  .cube__face--right{background: rgba(177, 76, 76, .7);}
  .cube__face--left{background: rgba(192, 91, 13, .7);}
  .cube__face--top{background: rgba(135, 172, 55, .7);}
  .cube__face--bottom{background: rgba(141, 227, 235, .7);}



  
  .cube__face--front{transform:rotatey(0deg) translateZ(100px)}
  .cube__face--back{transform:rotatey(180deg) translateZ(100px)}
  .cube__face--right{transform:rotatey(90deg) translateZ(100px)}
  .cube__face--left{transform:rotatey(-90deg) translateZ(100px)}
  .cube__face--top{transform:rotateX(90deg) translateZ(100px)}
  .cube__face--bottom{transform:rotateX(-90deg) translateZ(100px)}


  .cube:hover{
    transform: rotatey(270deg);
    
  }
  @keyframes runcube{
    from{
      transform: rotateY(0) scale(1.5);
    }
    to{
      transform: rotateY(220 deg) scale(1.8);
    }
  }